<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.newsserver.mapper.EditconfigMapper">
    <resultMap type="com.ninehcom.newsserver.entity.Editconfig" id="editconfigMap">
        <id column="Id" property="Id"/>
        <result column="Key" property="Key"/>
        <result column="Value" property="Value"/>
        <result column="Remark" property="Remark"/>
        <result column="CreateTime" property="CreateTime"/>
        <result column="UpdateTime" property="UpdateTime"/>
    </resultMap>
    <select id="selectAllEditconfig" resultMap="editconfigMap">
        select * from editconfig
    </select>
    <select id="selectEditconfig" resultMap="editconfigMap">
        SELECT 
        *
        FROM 
        editconfig
        where 
        editconfig.Key = #{key}
    </select>
    <select id="selectClientEditconfig" resultMap="editconfigMap">
        select * from editconfig
        WHERE
        editconfig.ClientNeed = 1
    </select>
</mapper>

