<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ninehcom.newsserver.mapper.RollMapper">
    <resultMap type="com.ninehcom.newsserver.entity.Roll" id="rollMap">
        <id column="Id" property="Id"/>
        <result column="Logo" property="Logo"/>
        <result column="Title" property="Title"/>
        <result column="Abstracts" property="Abstracts"/>
        <result column="Links" property="Links"/>
        <result column="Sort" property="Sort"/>
        <result column="PublishTime" property="PublishTime"/>
    </resultMap>
    <select id="selectAllRoll" resultMap="rollMap">
        SELECT
        *
        FROM
        roll
        WHERE
        ViewInApp=1
        ORDER BY
        roll.Sort ASC
    </select>
</mapper>

